@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #000;
}

html {
  scroll-behavior: auto; /* Default behavior for normal scrolling */
}

a {
  scroll-behavior: smooth; /* Smooth scroll only for anchor navigation links */
}
